.claim {
    display: grid;
    grid-template-columns: 469px 300px 300px 272px 296px;
    border-bottom: 1px solid #C2C2C2;
    padding-left: 24px;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    &:hover {
        background: #E1F3EA;
    }
    &__text, &__title {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #2D3436;
    }
    &__type {
        display: flex;
        align-items: center;
    }
    &__ball {
        margin-right: 16px;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 100%;
    }
    &__status {
        width: 124px;
        height: 32px;
        border-radius: 16px;
        font-weight: 800;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2.5px;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button {
        position: relative;
        font-weight: 400;
        width: 57px;
        font-size: 16px;
        line-height: 20px;
        color: #1489ff;
        border: none;
        background: none;
        cursor: pointer;
        transition: 0.3s all;
        &::after {
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #148BFF;
            transition: 0.3s all;
        }
        &:hover {
            color: #1460ad;
            &::after {
                background-color: #1460ad;
            }
        }
    }

}