.my-claims {
    padding: 56px 58px 105px 56px;
    position: relative;

    &__headline {
        padding-left: 8px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__btn {
        padding-left: 6px;
        width: 174px;
        height: 48px;
        background: #7DB59A;
        border-radius: 16px;
        border: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        transition: 0.3s all;
        position: relative;

        &:hover {
            background: #5B9479;
        }

        &:active {
            background: #4F896C;
        }

        &::after {
            position: absolute;
            content: 'Create claim';
            font-weight: 700;
            font-size: 17px;
            line-height: 32px;
            color: #FFFFFF;
            letter-spacing: 0.2px;
            left: 44px;
        }
        
        img {
            width: 40px;
            height: 40px;
        }
    }
    .claim {
        &:last-child {
            border-bottom: none;
        }
    }
}


