@import './variables.scss';

@media (max-width: 1650px) {
    .pagination {
        bottom: 20px;
    }
    .entrance {
        &__right {
            padding-top: 30px;
            padding-bottom: 50px;
        }
    }
    .form {
        margin-top: 10px;       

    }
}

@media (max-width: 1200px) {
    .entrance {
        height: auto;
        &__left {
            img {
                width: 500px;
                height: 480px;
            }
        }
        &__right {
            padding: 70px 0;
        }
    }
    .my-claims {
        padding: 20px;
        width: calc(100vw - 96px);
    }
    .claims-list {
        width: 100%;
        margin-top: 20px;
        &__filters {
            grid-template-columns: 1.5fr repeat(4, 1fr);
            column-gap: 20px;
        }
    }
    .pagination {
        bottom: 20px;
    }
    .title {
        font-size: 30px;
    }
    .claim {
        grid-template-columns: 1.5fr repeat(4, 1fr);
        column-gap: 20px;
        &__text, &__title {
            font-size: 13px;
        }
        &__ball {
            width: 10px;
            height: 10px;
            margin-right: 8px;
        }
        &__status {
            font-size: 10px;
            width: 105px;
            height: 25px;
        }
    }
}

@media (max-width: 992px) {
    .homepage {
        height: auto;
        padding-bottom: 10px;
    }
    .entrance {
        grid-template-columns: 1fr;
        &__left {
            display: none;
        }
        &__right {
            padding: 70px 0;
        }
        &__footer {
            img {
                display: none;
            }
        }
    }
    .menu {
        display: none;
        position: fixed;
        top: 64px;
        z-index: 10;
        width: 350px;
        height: 100vh;
        padding: 16px 0 0 16px;
        background: $main-color;
        &_active {
            display: block;
        }
        &__links {
            margin-top: 0;
            align-items: flex-start
        }
        &__link {
            &::after {
                left: -16px;
            }
            &:hover {
                &::after {
                    left: -16px;
                }
            }
        }
    }

    .input-block {
        &_search {
            display: none;
        }
    }
    .claims-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 420px);
        grid-template-rows: repeat(2, 240px);
        justify-content: center;
        grid-auto-rows: 240px;
        row-gap: 24px;
        column-gap: 24px;
        margin-top: 34px;
        &__filters {
            display: none;
        }
    }
    .claim {
        margin-bottom: 24px;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 240px;
        padding-left: 0;
        justify-content: flex-start;
        align-items: flex-start;
        border: none;
        &__title {
            padding: 6px 0 6px 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            height: 32px;
            background: $main-color;
            margin-bottom: 8px;
            .claim__text {
                color: #FFFFFF;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.25px;
                height: 20px;
                width: 400px;
            }
        }
        &__button {
            margin: 16px 0 0 25px;
            padding: 8px 8px;
            width: 84px;
            height: 52px;
            font-weight: 700;
            font-size: 18px;
            line-height: 36px;
            letter-spacing: 0.25px;
            border: 1px solid #ADADAD;
            border-radius: 16px;
            color: #858585;
            &::after {
                content: none;
            }
        }
        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #2D3436;
        }
        &__ball {
            width: 16px;
            height: 16px;
        }
        &__filter {
            display: block;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.25px;
            color: #000000;
        }
        &__status {
            width: 93px;
            height: 24px;
        }
        &__block {
            padding: 0 25px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 16px;

        }

    }
    .title {
        font-size: 28px;
    }

    .hamburger {
        display: flex;
    }
    .my-claims {
        padding: 24px 15px 0 15px;
        width: 100%;
        &__btn {
            width: 48px;
            height: 48px;
            padding-left: 0;
            justify-content: center;
            &::after {
                content: '';
            }
        }
    }
    .homepage {
        display: flex;
        flex-direction: column;
    }
    .header {
        padding: 0 16px;
        min-height: 64px;
        background: $main-color;
        border: none;
        &__name {
            display: none;
        }
        &__options {
            margin-left: 0;
            width: 160px;
        }
        &__btn {
            &_bigger {
                width: 48px;
                height: 48px;
                svg {
                    fill: #fff;
                }
            }
            svg {
                path {
                    stroke: #fff;
                }
            }

        }
    }
    .pagination {
        justify-content: flex-end;
        position: relative;
        margin-top: 50px;
    }
    
    .error-access {
        width: 270px;
        height: 100px;
        padding: 0 30px 0 50px;
        right: 30px;
        bottom: 10px;
        &__text {
            font-size: 14px;
            line-height: 25px;
        }

    }
}

@media (max-width: 768px) {
    .claims-list {
        justify-content: center;
        align-items: center;
        grid-template-columns: 343px;
    }
    .browse-claim {
        padding: 24px 16px 0 16px;
        &__item {
            margin-top: 47px;
            width: 343px;
        }
        &__btns {
            margin-top: 24px;
        }
    }
    .button {
        height: 52px;
    }
}

@media (max-width: 576px) {
    .entrance {
        grid-template-rows: calc(100vh - 64px) 64px;
        &__right {
            padding: 48px 0 84px 0;
            .title {
                display: none;
            }
        }
        &__logo {
            width: 96px;
            height: 93px;
            margin-top: 0;
        }
    }
    .error-input {
        font-size: 14px;
        margin-top: 3px;
        line-height: 22px;
    }
    .form {
        margin-top: 72px;
        &__text {
            font-size: 12px;
            line-height: 15px;
        }
        &__link {
            font-size: 12px;
            line-height: 15px;
        }
        &__check {
            margin-top: 20px;
        }
        .input-block {
            margin-top: 24px;
            width: 343px;
            color: red;
            input {
                font-size: 16px;
                line-height: 19px;
            }
            &__icon {
                width: 25px;
                height: 25px;
                bottom: 6px;
                right: 11px;
            }
        }
        &__btns {
            margin-top: 20px;
            .button {
                height: 40px;
            }
        }
        &_reg {
            margin-top: 0;
            .input-block {
                margin-top: 20px;
            }
        }
    }
    .menu {
        width: 256px;
    }
    .button {
        &_main {
            font-size: 16px;
            line-height: 20px;
            margin-top: 24px;
            height: 48px;
        }
    }
    .title {
        font-size: 24px;
        line-height: 29px;
    }
    .my-claims {
        &__headline {
            align-items: center;
        }
    }
    .new-claim {
        padding: 24px 16px 0 16px;
        &__btns {
            margin-top: 24px;
        }
    }
    .input-block {
        width: 343px;
        &_mt40 {
            margin-top: 24px;
        }
    }
    .pagination {
        justify-content: center;
        position: relative;
        margin-top: 50px;
        right: 0;
        &__page, &__dots, &__right, &__left {
            width: 26px;
            height: 26px;
            line-height: 26px;
        }

    }
}

