$main-color: #7DB59A;
$active-color: #4F896C;
$hover-color: #5B9479;

$cancel-main-color: #858585;
$decline-main-color: #E84393;
$decline-hover-color: #B03671;
$decline-active-color: #832552;

$icon-color: #5C5C5C;


