$main-color: #7db59a;
$active-color: #4f896c;
$hover-color: #5b9479;

$cancel-main-color: #858585;
$decline-main-color: #e84393;
$decline-hover-color: #b03671;
$decline-active-color: #832552;

$icon-color: #5c5c5c;
